body
{   /* This is how you create different back grounds */
 /* background-color: darkslateblue; */
/* background-image: linear-gradient(purple, green); */
  background-image: radial-gradient(cyan, pink); 
   
 /* You can have a image as your background or repeated ect.. */
  /* background-image: url("meme.jpg"); */
    /* background-repeat: repeat-x; */
   /* background-repeat: no-repeat; */
    
}

/* This will allow us to feather our nav and add a background color and text color */
nav
{
 background-color: chocolate;
 color: mediumblue;
 border: 3px dashed black;
 border-top-left-radius: 2em 2em;
 border-top-right-radius: 2em 2em;
 border-bottom-left-radius: 2em 2em;
 border-bottom-right-radius: 2em 2em;
}

/* This will allow us to change our paragragh font, size and styles ect.. */
p
{
 background-color: darkgray;
 text-align: center;
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: italic;
 font-weight: bold;
 color: black;
}

/* Here we can decorate our H1-h6, change color aswell */
h1
{
 text-decoration: wavy;
 text-decoration-color:green;
}

/*we can add some magic to our button with a background colors and fonts. */
button
{
 background-color: chocolate;
 border-color: crimson;
 border-radius: 100px;
 border-style: ridge;
 width: 150px;
 height: 150px;
 cursor: crosshair;
}

/* We can create an ID for button and have to be different and not the same */
#firstbutton:hover
{
 background-color: green;
 padding: 20px 40px;
 transition-duration: .6s;
 color: deeppink;
}

#secondbutton:hover
{
 background-color: red;
 padding: 1000px 5000px;
 transition: .5000s;
 color:red
}
